{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a New List</a></p>
            <p><a href="{% url 'todo_item_create' %}">Create a New Item</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Names</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todolists in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todolists.id %}">{{ todolists.name }}</a></td>

                        <td>{{ todolists.items.all|length }}</td>

                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
{% endblock content %}
