{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
                <p><a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_list_detail.items.all %}
                <tr>
                    <td><a href="{% url 'todo_item_edit' task.id %}">{{task.task}}</a></td>
                    <td>{{task.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
{% endblock content %}}
